@use "../../../styles/modules/mixins" as *;
@use "../../../styles/modules/functions" as *;

.copy {
  font-size: 1em;
  @include gc;
  position: absolute;
  top: 1em;
  right: 1em;
  height: 2em;
  aspect-ratio: 1;
  background-color: clr(primary, 900);
  border-radius: 50%;
  cursor: pointer;

  &__icon {
    fill: clr(neutral, 0);
  }

  span {
    color: hsl(120, 100%, 50%);
    font-size: 0.6em;
    position: absolute;
    left: -4.5em;
  }
  &--done {
    fill: hsl(120, 100%, 50%);
  }

  @include mq("pointer") {
    visibility: hidden;
    transition: visibility 100ms ease-in-out;
  }
}
