@use "../../../styles/modules/mixins" as *;

.loading-bar {
    height: .09rem;
    position: relative;
    overflow-x: hidden;
    &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        inset: 0;
        background-color: var(--clr-neutral-400);
        translate: -100% 0;
    }   
}

.loading--start {
    &::before {
        animation: loadingBar 1s infinite ease-in-out;        
    }
}

@keyframes loadingBar {
    to {
        translate: 100% 0;
    }
}