@use "../../../styles/modules/mixins" as *;
@use "../../../styles/modules/functions" as *;

.loading-bar {
  height: 0.09rem;
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    background-color: clr(neutral, 400);
    translate: -100% 0;
  }
}

.loading--start {
  &::before {
    animation: loadingBar 1s infinite ease-in-out;
  }
}

@keyframes loadingBar {
  to {
    translate: 100% 0;
  }
}
