@use "../../../styles/modules/mixins" as *;
@use "../../../styles/modules/functions" as *;

//* using :where() to eliminate the specificity
:where(.markdown) {
  @include font-medium;
  @include fd-c(0em);
  line-height: 1.5;
  letter-spacing: 0.023em;

  // don't want any h1 in the blog accept the title
  h1 {
    display: none;
  }

  #{headings(2, 6)} {
    font-family: var(--fnt-consolas);
    margin-block-start: 1em;
  }

  li {
    margin-inline: 2em 0;
    margin-block: 0.5em;
  }

  a {
    color: clr(accent, 200);
    margin-inline: 0.2em;
    font-size: 1.1em;
    &:where(:hover, :focus-visible) {
      text-decoration: underline;
    }
  }

  p,
  ul,
  ol {
    margin-block-start: 0.7em;
    font-size: 0.7em;
    font-family: var(--fnt-roboto);

    li {
      margin-block: 0.6em;
    }

    a {
      font-size: 1em;
    }

    em {
      font-size: 0.95em;
      font-style: italic;
      margin-inline: 0.1em;
    }

    del {
      font-size: 0.95em;
      margin-inline: 0.1em;
    }

    strong {
      font-size: 1em;
      font-weight: 600;
    }
  }

  img {
    max-height: 20em;
    height: auto;
    width: auto;
    max-width: 100%;
    border-radius: 0.3em;
    display: block;
    margin-block: 0.8em;
    margin-inline: auto;
  }

  [class*="code-"] {
    font-size: 0.6em;
    position: relative;
    margin-block-start: 0.5em;
    &:hover > .copy {
      visibility: visible;
    }

    pre {
      scrollbar-width: none;
      ::-webkit-scrollbar {
        width: 0;
      }
    }
  }

  .code-inline {
    font-size: 1em;
    margin-inline: 0.2em;
    padding: 0.05em 0.2em;
    background-color: hsl(0, 0%, 30%);
    border-radius: 0.5em;
    white-space: nowrap;
  }

  blockquote {
    border-radius: 0.3em;
    font-size: 1.2em;
    position: relative;
    margin: 1em 0;
    margin-inline: 0.8em;
    padding: 0.7em 1.2em;

    p {
      font-style: italic;
      font-family: var(--fnt-ubuntu);
      font-weight: 400;
    }

    &::before {
      content: open-quote;
      position: absolute;
      top: -0.55em;
      left: -0.2em;
      font-size: 3em;
      font-family: sans-serif;
      font-weight: 700;
      opacity: 0.2;
    }

    &::after {
      content: close-quote;
      position: absolute;
      bottom: -1em;
      right: -0.2em;
      font-size: 3em;
      font-family: sans-serif;
      font-weight: 700;
      opacity: 0.2;
    }
  }

  .rehype-code-title {
    translate: 0 0.4em;
    font-size: 1.1em;
    font-family: var(--fnt-lato);
  }
}
