@use "../../styles/modules/mixins" as *;
@use "../../styles/modules/functions" as *;

.blog {
  @include font-medium;
  @include fd-c(0em);
  min-height: 100vh;

  &__title {
    font-size: 2.2em;
    position: relative;
    font-family: var(--fnt-work-sans);
    font-weight: 600;
    margin-block-end: 1em;

    &::after {
      content: attr(data-time);
      font-size: 0.3em;
      font-family: var(--fnt-ubuntu);
      font-weight: 500;
      color: clr(primary, 150);
      position: absolute;
      bottom: -2.5em;
      left: 0;
    }
  }

  &--wrapper {
    @include fd-c(0.6em);
    @include font-medium;
    max-width: 50rem;
    margin: 0 auto;
    padding: 0.5em 1em 1em;
  }

  &--back {
    @include font-small(1.15);
    @include pill;
    @include f-ai(0.4em);
    width: max-content;
    font-family: var(--fnt-lato);
    font-weight: 600;
    background-color: transparent;
    padding-block: 1em;
    cursor: pointer;

    svg {
      $size: 1em;
      height: $size;
      width: calc($size * 1.1);
      fill: clr(secondary, 500);
    }

    span {
      font-size: 0.9em;
      color: clr(neutral, 0);
    }
  }
}
