@use "../../styles/modules/mixins" as *;

.blog {
  @include font-medium;
  @include fd-c(3em);
  min-height: 100vh;

  &__title {
    font-size: 2em;
    position: relative;
    font-family: "Inria Serif", serif;
    font-style: italic;
    font-weight: bold;

    &::after {
      content: attr(data-time);
      font-size: 0.3em;
      font-family: "Ubuntu", sans-serif;
      font-style: normal;
      font-weight: 500;
      color: var(--clr-primary-200);
      position: absolute;
      bottom: -2.5em;
      left: 0;
    }
  }

  &--wrapper {
    @include fd-c(.6em);
    @include font-medium;
    max-width: 50rem;
    margin: 0 auto;
    padding: .5em 1em 1em;
    scroll-behavior: smooth;
  }

  &--back {
    @include font-small(1.15);
    @include pill;
    @include f-ai(0.4em);
    width: max-content;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    background-color: transparent;
    padding-block: 1em;
    cursor: pointer;

    svg {
      $size: 1em;
      height: $size;
      width: calc($size * 1.1);
      fill: var(--clr-secondary-400);
    }

    span {
      font-size: 0.9em;
      color: var(--clr-primary-100);
    }
  }
}
