@use "../../styles/modules/mixins" as *;

.editmd {
  @include font-small;
  flex: 1;
  display: flex;
  gap: 0.2rem;
  height: calc(100% - 3em - 0.5vh);
  
  & > * {
    width: 50%;
    @include thin-scrollbar;
  }
}
