@use "../../styles/modules/mixins" as *;

.editor {
  height: 100%;
  overflow: hidden;
  & > * {
    padding-block: .6em;
  }
  .monaco-editor, .overflow-guard {
    height: 100% !important;
    scroll-behavior: smooth !important;
  }
}
