@use "../../styles/modules/mixins" as *;

.edit-frm-header {
  @include font-small;
  @include f-ai(0em) {
    justify-content: space-between;
  }
  padding: 0.6em 1em;
  max-width: 2400px;
  margin: 0 auto;

  &__logo {
    @include f-ai(0em);
    img {
      height: 0.8em;
      width: auto;
    }
  }
  &__nav {
    display: flex;
    gap: 1.5em;
    font-size: 0.9em;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    button {
      padding: 0.4em 0.9em;
      border-radius: 0.2em;
      color: var(--clr-primary-100);
      font-family: "Inconsolata", monospace;
      &:disabled {
        filter: brightness(70%);
        cursor: not-allowed;
      }
    }

    &--back {
      background-color: var(--clr-secondary-400);
    }
    &--next {
      background-color: var(--clr-primary-400);
    }
    &--done {
      background-color: var(--clr-neutral-400);
    }
  }
}
