@use "../../styles/modules/mixins" as *;
@use "../../styles/modules/functions" as *;

.title-frm-wrapper {
  @include font-small;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  row-gap: 1em;
  padding: 1em;

  textarea {
    resize: none;
    font-size: 1.5em;
    background-color: adjust-alpha(clr(neutral, 0), 0.1);
    color: clr(neutral, 0);
    border-radius: 0.3em;
    padding: 0.5em;
    font-family: var(--fnt-work-sans);
    font-weight: 600;
    letter-spacing: 0.05em;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      width: none;
    }

    &:nth-of-type(2) {
      font-size: 1em;
      font-family: var(--fnt-inconsolata);
    }

    &:nth-of-type(3) {
      font-size: 1.1em;
      font-family: var(--fnt-ubuntu);
      word-spacing: 0.3em;
    }
  }
}
