@use "../../../styles/modules/mixins" as *;

.edit-wrapper {
  @include fd-c;
  height: 99vh;
  overflow: hidden;
  align-items: start;
  
  & > * {
    width: 100%;
    &:last-child {
      flex: 1;
    }
  }
}
