@use "../../../styles/modules/mixins" as *;

.login-frm {
  @include font-small;
  @include fc {
    flex-direction: column;
    gap: 2em;
  }
  height: 88vh;

  .invalidInput {
    position: absolute;
    left: -10000px;
    overflow: hidden;
  }

  .invalidInput:not(:empty) ~ &__grp {
    --clr: red;
    animation: headShake 200ms 2;
  }

  &__grp {
    --clr: #fff4;
    font-family: var(--fnt-lato);
    position: relative;
    width: 60%;
    max-width: 30rem;
    border-bottom: 0.02rem solid var(--clr);
    padding: 0 0.5em;

    &:focus-within {
      --clr: #fff;
    }

    input {
      all: unset;
      letter-spacing: 0.025em;
      width: 100%;
      padding: 0.5em 0;
      color: var(--clr-primary-100);

      &:focus-visible {
        outline: 0px solid transparent;
      }

      &::placeholder {
        font-weight: 300;
        opacity: 0.5;
      }
      &:focus::placeholder {
        opacity: 0.8;
      }
    }

    .pass-input {
      width: 100%;
      display: flex;
      justify-content: space-between;

      input {
        width: 90%;
      }

      &__btn {
        @include gc;
        font-size: 1.2em;
        background-color: transparent;

        svg {
          fill: var(--clr);
        }
        &:focus-visible svg {
          outline: 2px solid rgb(255, 255, 255);
          outline-offset: 0.1em;
        }
      }
    }
  }

  &__btn {
    margin-block-start: 1em;
    button {
      padding: 0.5em 1.2em;
      border-radius: 0.2em;
      font-family: var(--fnt-ubuntu);
      font-weight: 600;
      background-color: var(--clr-neutral-400);
      color: var(--clr-primary-100);

      &:disabled {
        filter: brightness(40%);
        cursor: not-allowed;
      }

      &:focus-visible {
        outline: 3px solid var(--clr-neutral-100);
        outline-offset: 0.1em;
      }
    }
  }

  &__guest {
    font-family: var(--fnt-ubuntu);
    font-size: 0.8em;
    font-weight: 500;
    color: var(--clr-secondary-200);

    &:where(:hover, :focus) {
      color: var(--clr-secondary-300);
      text-decoration: underline;
    }
  }
}

@keyframes headShake {
  0% {
    translate: 0 0;
  }
  25% {
    translate: -5% 0;
  }
  50% {
    translate: 0 0;
  }
  75% {
    translate: 5% 0;
  }
  100% {
    translate: 0 0;
  }
}
