@use "../../styles/modules/mixins" as *;
@use "../../styles/modules/functions" as *;

.blogitem {
  @include font-small(1.1);
  @include fd-c(0.8em);
  justify-content: space-between;
  width: max-content;
  background-image: linear-gradient(
    23.05deg,
    clr(primary, 800) 9.87%,
    clr(secondary, 800) 125.08%
  );
  padding: 0.8em;
  border-radius: 0.3em;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.7em clr(primary, 900);
  width: 100%;
  max-height: max-content;

  @include mq("pointer") {
    box-shadow: 0 0.3rem 0.3em clr(primary, 900);
    &:where(:hover, :active, :focus) {
      box-shadow: 0 0.3rem 0.7em clr(primary, 900);
    }
  }

  &__title {
    font-size: 1.3em;
    color: clr(neutral, 0);
    font-family: var(--fnt-work-sans);
    font-weight: 600;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__time {
    color: clr(primary, 150);
    font-family: var(--fnt-ubuntu);
    font-size: 0.55em;
    text-align: right;
  }

  &--loading {
    @include fc;
    img {
      $size: 3em;
      height: $size;
      width: $size;
    }
  }
}
