@use "../../styles/modules/mixins" as *;

.nav {
  @include font-medium;
  @include f-ai(0) {
    justify-content: space-between;
  }
  padding: 0.5em 1.5em;
  max-width: 2400px;
  margin: 0 auto;

  &__logo {
    @include fc;
    img {
      height: 0.8em;
      width: auto;
    }
  }

  &__list {
    list-style: none;
    @include f-ai(1.2em);
  }

  &__item {
    button {
      @include fc;
      @include circle;
      height: 1.5em;
      padding-inline: 0.5em;
      cursor: pointer;
      box-shadow: 0 0 0.2em var(--clr-primary-900);
      @include mq("not pointer") {
        border-radius: 0.2em;
        gap: 0.2em;
      }

      &::after {
        content: attr(data-name);
        color: var(--clr-primary-100);
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-size: 0.6em;
        @include mq("pointer") {
          font-size: 0;
          transition: font-size 100ms ease-in-out;
        }
      }

      @include mq("pointer") {
        &:where(:hover, :focus, :active) {
          border-radius: 0.2em;
          gap: 0.2em;
          scale: 1;
          &::after {
            font-size: 0.6em;
          }
        }
      }

      img {
        $size: 0.6em;
        height: $size;
        width: $size;
      }
    }
  }

  &--admin {
    background-color: var(--clr-neutral-500);
  }

  &--code {
    background-color: var(--clr-secondary-400);
  }
}
