$clr: (
  primary: (
    100: hsl(274 100% 90%),
    150: hsl(274 100% 85%),
    200: hsl(274 100% 80%),
    250: hsl(274 100% 70%),
    300: hsl(274 100% 60%),
    400: hsl(274 100% 50%),
    500: hsl(274 100% 35%),
    600: hsl(274 100% 23%),
    700: hsl(274 100% 19%),
    800: hsl(274 98% 12%),
    850: hsl(274 100% 8%),
    900: hsl(274 100% 5%),
  ),
  secondary: (
    100: hsl(337 96% 90%),
    200: hsl(337 96% 80%),
    300: hsl(337 96% 70%),
    400: hsl(337 96% 60%),
    500: hsl(337 100% 50%),
    600: hsl(337 100% 40%),
    700: hsl(337 100% 30%),
    800: hsl(337 100% 20%),
    850: hsl(337 100% 25%),
    900: hsl(337 100% 10%),
  ),
  accent: (
    100: hsl(216 100% 80%),
    200: hsl(216 100% 70%),
    300: hsl(216 100% 60%),
    400: hsl(216 100% 51%),
    500: hsl(241 63% 50%),
    600: hsl(241 63% 40%),
    700: hsl(241 63% 30%),
    800: hsl(241 63% 20%),
    850: hsl(241 63% 10%),
    900: hsl(241 63% 5%),
  ),
  neutral: (
    0: hsl(0, 0%, 100%),
    50: hsl(0, 0%, 95%),
    100: hsl(0, 0%, 90%),
    150: hsl(0, 0%, 85%),
    200: hsl(0, 0%, 80%),
    250: hsl(0, 0%, 75%),
    300: hsl(0, 0%, 70%),
    350: hsl(0, 0%, 65%),
    400: hsl(0, 0%, 60%),
    450: hsl(0, 0%, 55%),
    500: hsl(0, 0%, 50%),
    550: hsl(0, 0%, 45%),
    600: hsl(0, 0%, 40%),
    650: hsl(0, 0%, 35%),
    700: hsl(0, 0%, 30%),
    750: hsl(0, 0%, 25%),
    800: hsl(0, 0%, 20%),
    850: hsl(0, 0%, 15%),
    900: hsl(0, 0%, 10%),
    950: hsl(0, 0%, 5%),
    1000: hsl(0, 0%, 0%),
  ),
);
