@use "./mixins" as *;
@use "./functions" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

a,
a:where(:visited, :focus, :active) {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  outline: none;
  border: none;
  font: inherit;
}

body {
  background-image: linear-gradient(
    45deg,
    adjust-saturation(clr(secondary, 900), 80%),
    clr(accent, 850)
  );
  color: clr(neutral, 0);
  min-height: 100vh;
}

button {
  cursor: pointer;
}

::selection {
  background-color: clr(primary, 300);
  color: clr(neutral, 0);
}

@include thin-scrollbar;

//screen readers only
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
